* {
	border: 1px solid red;
}

.main-header {
	width: 100%;
	height: 500px;
	background: url('/images/bwmountain.jpg') no-repeat;
}

.bio {
	width: 100%;
	height: 500px;
	background: #000;
}

.contact {
	width: 100%;
	height: 500px;
	background: #fff;
}

.main-footer {
	width: 100%;
	height: 20px;
}