.header {
    height: 100px;
    width: auto;
    background-color: #000000;
}
.header h1 {
    font-weight: bold;
    text-align: center;
    font-family: sans-serif;
    color: #FFFFFF;
}
.header-menu {
    
}
